#breakpoint1200, #breakpoint768, #breakpoint1010, #locker{
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 0px;
}

@media(max-width: 1199px){
	#breakpoint1200{
		display: block;
	}
	#mainContent{
		width: calc(100% - 68px);
		margin-left: 34px;
		margin-right: 34px;
	}
	#stateContainer, #demographicsContainer{
		width: 100%;
	}

	#meepleMenu{
    	display: block;
    	margin: 0 auto;
	}
	.demographicMenuContainer{
	    position: relative;
    	width: 770px;
    	margin: 0 auto;
	}
	#mapContainer{
		display: block;
		margin: 0 auto;
	}
	#leftColumn{
		display: block;
		width: 100%;
	}
	.colHeader.filter{
		display: block;
    	width: 103px;
    	float: left;
	}
	.customRadioRow.state{
    	display: block;
    	width: 101px;
    	float: left;
	}
	.customRadioRow.demographics{
		display: block;
    	width: 352px;
	}
	.legendItemContainer {
	    margin-top: 10px;
	    margin-bottom: 10px;
	    width: calc(33% - 20px);
	    display: inline-block;
	    margin-right: 20px;
	    vertical-align: top;
	}
	.tableTooltip{
		right: 0px;
		left: inherit;
		pointer-events: none;
	}
	.tableTooltip:after {
		top: calc(100% +  80px);
		left: 50%;
		border-top-color: #f5f5f5;
		border-left-color: transparent;
		margin-left: -20px;
	}



}
@media(max-width: 1009px){
	#breakpoint1010{
		display: block;
	}
}
@media(max-width: 768px){
	#breakpoint768{
		display: block;
	}
	.tableTooltip{
		display: none;
	}
	#mainContent {
	    width: calc(100% - 30px);
	    margin-left: 15px;
	    margin-right: 15px;
	}
	svg{
		pointer-events: none;
	}
}
